<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		<title>To Do List</title>
	</head>
	<body>
		<h1>To Do List</h1>

		<div id="game">
			{% for i in range %}
			<button hx-get="{% url 'jeux' i randInt %}">🐱‍👤</button>
			{% endfor %}
		</div>

		<div id="collections">
			<!-- prettier-ignore -->
			{% for collection in collections %} 
				{% include 'tasks/collection.html' with collection=collection %} 
			{% endfor %}
		</div>

		<form method="POST">
			{% csrf_token %}

			<label for="collection-name">Nom de la collection</label>
			<input type="text" name="collection-name" />
			<button
				hx-post="{% url 'add-collection' %}"
				hx-target="#collections"
				hx-swap="beforeend"
				type="submit"
			>
				Ajouter
			</button>
		</form>

		<form method="POST" type="text" name="task-name">
			{% csrf_token %}
			<input type="text" name="task-description" />
			<button
				hx-post="{% url 'add-task' %}"
				hx-target="#tasks"
				hx-swap="beforeend"
				hx-vals="js:{collection: getCollectionFromURL()}"
				type="submit"
			>
				Ajouter
			</button>
		</form>

		<div id="tasks">
			{% include 'tasks/tasks.html' with tasks=tasks collection=collection %}
		</div>

		<script>
			document.body.addEventListener("htmx:responseError", function (e) {
				alert(e.detail.xhr.responseText);
			});

			function getCollectionFromURL() {
				let url = new URL(window.location.href);
				let searchParams = url.searchParams;
				return searchParams.get("collection");
			}
		</script>
	</body>
</html>
