<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>La boutique de Coquillages</title>
	</head>
	<body>
		<a href="{% url 'index' %}" style="text-decoration: none; color: black"
			><h1>La boutique de la mer</h1></a
		>

		{% if user.is_authenticated %}
		<!-- prettier-ignore-->
		Bonjour {{ user.username }}
		<a href="{% url 'logout' %}">Déconnexion</a>
		{% else %}
		<a href="{% url 'login' %}" style="text-decoration: none; color: black"
			>Connexion</a
		>
		<a href="{% url 'signup' %}" style="text-decoration: none; color: black"
			>S'inscrire</a
		>
		{% endif %}
		<!-- prettier-ignore-->
		{% block content %} {% endblock %}
	</body>
</html>
